.tags-h1 {
    font-size: 400;
    margin-top: 50px;
}

.tags-p {
    font-size: 15px;
    margin: 0;
}

.tags-list-container {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.tag {
    padding: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
}

.tag h5 {
    display: inline-block;
    margin: 10px 0;
    padding: 5px;
    background-color: #e1ecf4;
    color: #39739d;
}

.tag p {
    font-size: 14px;
    line-height: 17px;
    color: #323232;
}